<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <title>Apprenons Vue js</title>
</head>

<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    img{
        width: 200px;
        height: auto;
    }
    body{

     display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(148, 120, 157);
    }

    .app{
        display: flex;
    }
</style>

<body>
    <div id="app">
        <div class="product-section">
            <div class="product-image">
                <img v-bind:src="image" />
            </div>

            <div class="product-descripition">
                <h1>{{name}}</h1>
                <p v-show="notAvailable">Momentanément indisponible</p>

                <p v-if="sale"> 
                    <span class="sale">
                        {{price}}
                    </span> <br>
                    <span class="new-price">
                        {{ price - 5}}
                    </span>
                </p>

                <P v-else>
                    <span class="price">{{price}}</span>
                </P> <br>

                <!--Les boucles avec v-for-->

                <strong>Ingrédients</strong>
                <div>
                    <span v-for="ingredient in ingredients">
                        {{ingredient + ", "}}
                    </span>
                </div>
                <br>

                <div class="sauces">
                    <strong>
                        <ul>
                            <li v-for="sauce in sauces">
                                {{sauce.type}}
                            </li>
                        </ul>
                    </strong>
                </div>
               
            </div>
        </div>

    </div>

    
    <script src="./js/script.js"></script>
    
    <script>
        const mountApp = app.mount("#app");
    </script>
</body>
</html>